<h2>Cars</h2>
<!-- <label for="search">Search: </label>
<input id="search" placeholder="Search...." [(ngModel)]="searchText"> -->
<br/>
<!-- <table class="table-hover table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of (data.records | searchingBy: searchText)">
        <tr *ngFor="let car of data)">
      <td>{{car.brand}}</td> achtung: case sensitiv
      <td>{{record.fields.Name}}</td>
    </tr>
  </tbody>
</table> -->

<pre>{{data | json}}</pre>